@charset "UTF-8";
@font-face {
  font-family: 'BMEULJIRO';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* line 9, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
body {
  position: relative; }

/* line 13, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.quick {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 99; }

/* line 20, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.company_logo {
  position: fixed;
  left: 25px;
  bottom: 20px;
  z-index: 99; }

/* line 29, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.header {
  position: relative;
  z-index: 999; }
  /* line 32, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .header .icon {
    position: fixed;
    top: 25px;
    left: 25px;
    cursor: pointer; }

/* line 43, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.container {
  text-align: center;
  height: 850px; }

/* line 48, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.section1 {
  background-image: url(../img/section1_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  text-align: center;
  position: relative; }
  /* line 57, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section1 .banner {
    display: inline-block; }
    /* line 60, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section1 .banner .text {
      position: relative;
      top: 30px;
      margin-top: 40px; }
    /* line 65, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section1 .banner a.goto_reservation {
      display: inline-block;
      position: relative;
      top: -90px; }

/* line 75, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.section2 {
  background-color: #d2d9e0;
  background-image: url(../img/section4_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  /* line 81, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section2 img.title {
    margin-top: 80px; }
  /* line 85, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section2 .slider_area {
    position: relative; }
    /* line 87, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section2 .slider_area .slider_bg {
      position: absolute; }
    /* line 91, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section2 .slider_area #slider {
      display: inline-block;
      height: 450px;
      width: 800px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      left: 80px;
      top: -100px; }
      /* line 101, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section2 .slider_area #slider ul {
        list-style-type: none;
        position: relative;
        height: 450px;
        width: 2800px;
        margin: 0;
        padding: 0;
        margin-left: -800px; }
        /* line 109, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
        .section2 .slider_area #slider ul li {
          height: 450px;
          width: 800px;
          margin: 0;
          padding: 0;
          display: block;
          float: left; }
          /* line 116, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
          .section2 .slider_area #slider ul li img {
            width: 100%; }
      /* line 121, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section2 .slider_area #slider .slideButton {
        position: absolute;
        left: 0;
        height: 60px;
        width: 60px;
        z-index: 999;
        border: 0px;
        outline: 0;
        padding: 0;
        cursor: pointer;
        background-color: transparent; }
      /* line 133, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section2 .slider_area #slider #buttonleft {
        top: 195px; }
      /* line 136, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section2 .slider_area #slider #buttonright {
        top: 195px;
        left: 639px; }

/* line 145, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.section3 {
  height: auto;
  /* popup-style */ }
  /* line 147, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .reservation_title {
    background-image: url(../img/section3_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #d2d9e0;
    padding: 100px 0; }
  /* line 155, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .select_btn {
    background-color: #191e37;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 70px 0; }
    /* line 161, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .select_btn .list_item {
      display: inline-block;
      height: 65px;
      line-height: 65px;
      padding: 0;
      margin: 15px 7px;
      background-color: rgba(255, 255, 255, 0.1); }
      /* line 170, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .select_btn .list_item .radio-btn {
        position: absolute;
        opacity: 0;
        visibility: hidden; }
        /* line 174, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
        .section3 .select_btn .list_item .radio-btn:checked + .label {
          color: #000000; }
          /* line 176, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
          .section3 .select_btn .list_item .radio-btn:checked + .label::before {
            border: 6px solid #00deff;
            background: #00deff; }
      /* line 183, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .select_btn .list_item .label {
        display: flex;
        align-items: center;
        height: 65px;
        line-height: 65px;
        font-size: 1.25rem;
        cursor: pointer;
        transition: all 0.25s linear;
        padding: 0 79px; }
        /* line 192, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
        .section3 .select_btn .list_item .label img {
          width: 120px; }
      /* line 197, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .select_btn .list_item .label::before {
        display: inline-block;
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.625rem;
        border: 3px solid #00deff;
        border-radius: 50%;
        transition: all 0.25s linear; }
    /* line 208, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .select_btn .input_area {
      padding: 20px 20px 16px;
      display: inline-block;
      width: 470px;
      text-align: left;
      vertical-align: top;
      border: 6px solid #00deff;
      margin-right: 10px; }
      /* line 216, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .select_btn .input_area span {
        font-family: 'BMEULJIRO';
        font-size: 30px;
        vertical-align: middle;
        display: inline-block;
        border-radius: 5px;
        color: #00deff;
        margin-right: 10px; }
      /* line 226, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .select_btn .input_area input {
        font-family: 'BMEULJIRO';
        padding: 0;
        outline: 0;
        border: 0;
        font-size: 30px;
        vertical-align: middle;
        width: 75%;
        color: #00deff;
        background-color: transparent; }
    /* line 238, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .select_btn .btn {
      text-align: center;
      display: inline-block; }
      /* line 241, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .select_btn .btn a {
        display: block; }
  /* line 246, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .agree {
    padding: 17px 0 10px;
    text-align: left;
    width: 650px;
    margin: 0 auto; }
    /* line 251, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .agree hr {
      margin: 15px 0 20px; }
    /* line 255, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .agree label.explanation {
      font-family: 'BMEULJIRO';
      display: inline-block;
      font-size: 21px;
      padding: 13px 0;
      padding-left: 10px;
      vertical-align: middle;
      color: #fff; }
      /* line 263, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .agree label.explanation input {
        margin-right: 7px; }
      /* line 266, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .agree label.explanation a {
        font-family: 'BMEULJIRO';
        background-color: #00deff;
        color: #191e37;
        vertical-align: middle;
        padding: 10px 18px 6px;
        margin-left: 12px; }
        /* line 273, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
        .section3 .agree label.explanation a label.btn {
          font-size: 21px;
          font-family: 'BMEULJIRO'; }

@keyframes bg {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes inner {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.06); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes bg {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes inner {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1.06); }
  100% {
    transform: scale(1); } }
  /* line 305, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_check {
    display: none; }
  /* line 309, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_base, .section3 .popup_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: zoom-out; }
  /* line 319, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_base {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
    text-align: center; }
  /* line 326, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_check:checked + .popup_base {
    display: block;
    animation-name: bg;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: bg;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards; }
  /* line 336, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_inner {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 20%;
    z-index: 10;
    background-color: #d8e8ff;
    display: block;
    cursor: default;
    color: #000;
    padding: 40px 20px;
    border: 8px solid #000; }
    /* line 349, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .popup_inner .textbox p {
      font-family: 'BMEULJIRO';
      font-size: 25px;
      margin-top: 15px;
      line-height: 30px; }
  /* line 358, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_sub {
    top: 35%; }
  /* line 362, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_check:checked + .popup_base .popup_inner {
    animation-name: inner;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: inner;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards; }
  /* line 371, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .menu_popup {
    position: absolute;
    width: 300px;
    height: 100vh;
    left: 0;
    z-index: 10;
    background-color: #fff;
    display: block;
    cursor: default;
    color: #000; }
    /* line 381, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .menu_popup .menu_inner {
      padding: 50px 0; }
      /* line 383, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .menu_popup .menu_inner .close {
        display: inline-block;
        position: absolute;
        top: 28px;
        left: 28px; }
      /* line 389, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
      .section3 .menu_popup .menu_inner ul {
        margin-top: 50px; }
        /* line 392, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
        .section3 .menu_popup .menu_inner ul li a {
          font-family: 'BMEULJIRO';
          font-size: 1.7rem;
          width: 100%;
          padding: 25px 0;
          display: block;
          color: #555;
          transition: all 0.2s ease;
          cursor: pointer; }
          /* line 401, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
          .section3 .menu_popup .menu_inner ul li a:hover {
            color: #111; }
  /* line 410, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_check:checked + .popup_base .menu_popup {
    animation-name: inner;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: inner;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards; }
  /* line 419, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .textbox {
    overflow: auto;
    width: 100%; }
    /* line 422, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .textbox p {
      font-size: 18px;
      line-height: 25px;
      word-break: keep-all; }
  /* line 428, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .privacy_text {
    text-align: left;
    padding: 15px 25px; }
    /* line 431, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .privacy_text h3 {
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 20px;
      font-family: 'BMEULJIRO'; }
    /* line 437, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .privacy_text p {
      font-size: 16px;
      line-height: 27px;
      word-break: keep-all; }
  /* line 444, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .popup_btn {
    margin-top: 10px; }
    /* line 446, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .section3 .popup_btn .confirm {
      font-weight: 700;
      background-color: #000;
      color: #fff;
      font-size: 18px;
      padding: 15px 30px;
      display: inline-block;
      cursor: pointer;
      font-family: 'BMEULJIRO'; }
  /* line 457, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section3 .privacy_btn {
    text-align: right;
    padding-right: 25px; }

/* line 466, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.section4 {
  background-color: #d2d9e0;
  background-image: url(../img/section4_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 850px;
  position: relative; }
  /* line 474, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section4 img.logo {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 100px; }
  /* line 480, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .section4 img.title {
    margin: 55px 0 26px 0; }

/* line 503, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
.slider_test {
  position: relative;
  top: -55px;
  background-image: url(../img/section2_banner_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 55px 0;
  width: 1200px;
  margin: 0 auto; }
  /* line 513, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test .slick-slide {
    padding: 0 100px;
    width: 100vw; }
    /* line 516, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
    .slider_test .slick-slide img {
      max-width: 100%;
      margin: 0 auto;
      outline: 0; }
  /* line 523, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test [type=button] {
    position: absolute;
    top: 50%;
    z-index: 10;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 0;
    text-indent: -9999px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-50%);
    transition: all 0.25s ease;
    outline: 0;
    padding: 0; }
  /* line 542, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test [type=button]:hover {
    opacity: 1; }
  /* line 545, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test [type=button].slick-next {
    right: 0;
    background-image: url(../img/slider_right.png);
    background-size: contain; }
  /* line 550, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test [type=button].slick-next:hover {
    right: -5px; }
  /* line 553, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test [type=button].slick-prev {
    left: 0;
    background-image: url(../img/slider_left.png);
    background-size: contain; }
  /* line 558, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test [type=button].slick-prev:hover {
    left: -5px; }

@-webkit-keyframes motion-blur {
  0% {
    filter: url(#blur0);
    transform: scale(1, 1); }
  15% {
    filter: url(#blur1);
    transform: scale(1, 0.98); }
  30% {
    filter: url(#blur2);
    transform: scale(1, 0.93); }
  45% {
    filter: url(#blur3);
    transform: scale(1.1, 0.9); }
  60% {
    filter: url(#blur4);
    transform: scale(1.2, 0.88); }
  75%, 100% {
    filter: url(#blur5);
    transform: scale(1.35, 0.85); } }

@keyframes motion-blur {
  0% {
    filter: url(#blur0);
    transform: scale(1, 1); }
  15% {
    filter: url(#blur1);
    transform: scale(1, 0.98); }
  30% {
    filter: url(#blur2);
    transform: scale(1, 0.93); }
  45% {
    filter: url(#blur3);
    transform: scale(1.1, 0.9); }
  60% {
    filter: url(#blur4);
    transform: scale(1.2, 0.88); }
  75%, 100% {
    filter: url(#blur5);
    transform: scale(1.35, 0.85); } }
  /* line 615, /Users/song/Desktop/workspace/gameberry/2021.04 무림백수 퍼블리싱/무림백수_publishing/css/style.scss */
  .slider_test .do-transition {
    animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s; }

/*# sourceMappingURL=style.css.map */